.product-cards--container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.plans-container--slider{
    justify-content: center;
    overscroll-behavior-x: none;
    overflow-x: hidden;
}

.main-tables-container{
    display: flex;
    margin: 0 auto;
    width: 930px;
}

